@import "partials/_variables";
@import "partials/_z-index";
@import "partials/_mixins";
@import "partials/_extends";

@import "partials/_reset";
@import "partials/_defaults";

.reveal {
  
  h1, h2, h3, h4, h5, h6, { text-transform: none;
    &.shadow { text-shadow:0 0 0.2em $dark; }
    &.inverse { color:$dark;
      &.shadow { text-shadow:0 0 0.2em $white; }
    }
    b { font-size:1.5em; }
  }
  p {
    &.inverse { color:$dark;
      &.shadow { text-shadow:0 0 0.2em $white; }
    }
    .shadow { text-shadow:0 0 0.2em $dark; }
  }
  
  .tech-logos { @include flex-container(); justify-content: space-between; @extend %gutters;
    &.around { justify-content: space-around; }
    .logo { @include flex-item(20%,0); padding-left: 0.5em; padding-right:0.5em; @include flex-container(center); }
    img { background:transparent; border:none; box-shadow: none; width: 100%; }
    
    &.four-up {
      .logo { margin-left: 1%; margin-right: 1%; }
    }
    .full-width { @include flex-item(100%);  }
  }
  
  blockquote { font-size:0.75em; padding: 0.85em;
    p { @extend %quote; font-style: normal; padding-bottom: 0.35em; margin: 0; }
    cite { display: block; text-align: right;
      &:before { content:"\2013"; }
    }
  }
  
}

.sample-jade-headline {
  span.green { color:lime; }
  code { padding-left:0.5em; color: yellow }
  .bigger { text-transform: uppercase; }
}

.tina-figures { @include flex-container(); align-items: center; justify-content: center;
  figure { @include flex-item(33.3333%); padding-left: 1em; padding-right: 1em }
  img { margin: 0 !important; }
  figcaption { font-size:0.65em; font-style: italic;  }
}